header {
  background-color: #e69e67;
  color: #8f2c2c;
  padding: 10px;
  text-align: center;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: left;
}
.logo img {
  max-width: 180px;
}

.menu ul {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-left: 50px;
  font-size: 20px;
}

.menu li {
  text-decoration: none;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  margin-right: 10px;
  color: #111010;
}

.navbar-search {
  width: 65%;
  margin-right: 550px;
}

.icon {
  margin-top: 20px;
  margin-left: 750px;
  gap: 1px;
}

.navbar-search ul {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.navbar-search li {
  text-decoration: none;
  margin-right: 10px;
}

.navbar-search a {
  text-decoration: none;
  margin-right: 10px;
  color: #b72f75;
  font-size: 20px;
}

.navbar-search a :hover {
  color: #211515;
}

.navbar-contact {
  width: 400px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navbar-contact li {
  color: black;
}

.navbar-contact li a {
  text-decoration: none;
  color: black;
}

.bottom-row ul {
  list-style: none;
  padding: 1px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.bottom-row ul li {
  margin: 0 10px;
}

.bottom-row ul li a {
  text-decoration: none;
  color: black;
}

.bottom-row ul li a:hover {
  font-weight: bold;
}

.header-menu {
  padding: 2px 0;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
}

.header-menu li {
  list-style: none;
  position: relative;
}

.header-menu li:hover .header-menu-dropdow {
  opacity: 1;
  visibility: visible; 
}

.header-menu a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.3s;
  display: block;
}

.header-menu .active a {
  color: forestgreen;
}

.header-menu-dropdow {
  background: #222222;
  display: block;
  position: absolute;
  width: auto;
  z-index: 9;
  padding: 5px 0;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.header-menu-dropdow li {
  display: block;
  list-style: none;
}

.header-menu-dropdow li a {
  text-transform: capitalize;
  color: white;
  font-weight: 400;
  padding: 5px 15px;
  display: block;
}

.header-menu-dropdow li a:hover {
  color: forestgreen;
}

.all {
  position: relative;
}

.all .all-categories {
  background: rgb(236, 136, 176);
  padding: 15px 25px 15px 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
}

.all .all-categories svg,
.span {
  font-size: 16px;
  margin-right: 5px;
}

.all ul {
  border: 1px solid #ebebeb;
  position: absolute;
  opacity: 1;
  width: 100%;
  background: #efd0db;
  transition: all 0.2s;
  text-align: left;
  padding-left: 60px;
}

.ul li {
  list-style: none;
}

.li :hover {
  background: #f7ffff;
}

.row-categories-container .col-lg-3 ul li a:hover {
  color: forestgreen;
}

.row-categories-container .col-lg-3 ul li a {
  text-decoration: none;
  background-color: transparent;
  font-size: 17px;
  color: #0c0e0e;
  line-height: 39px;
  display: block;
  padding-right: 30px;
}

.row-categories-container .col-lg-3 ul li .hidden {
  opacity: 0;
}

.row-categories-container {
  display: flex;
  flex-wrap: wrap;
}

.row-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.row-search-form form {
  width: 100%;
  align-items: center;
}

.row-search-form input[type="text"],
.row-search-form button {
  height: 48px;
  font-size: 15px;
  padding: 0 10px;
  margin-left: 70px;
  flex: 1;
}

.site-btn {
  background-color: rgb(236, 136, 176);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  font-weight: 600;
}

.site-btn:hover {
  background-color: #dd5f5f;
}

.row-search-form button {
  min-width: 100px; /* Đảm bảo nút có độ rộng tối thiểu */
}

.row-search .row-search-form form input {
  border: none;
  height: 48px;
  font-size: 16px;
  color: #b72f75;
  padding-left: 50px;
  padding-right: 200px;
  border: 1px solid #df7b92;
  border-radius: 10px;
  font-style: oblique;
}

.row-categories-container .row-ads {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 350px;
  justify-content: center;
  align-items: center;
}

.row-categories-container .row-text {
  text-align: center;
  padding-left: 70px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.row-text img {
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
  object-fit: cover;
  background-position: center;
  margin-right: 50px;
}

.information {
  text-align: left;
  width: 100%;
  padding: 10px;
  line-height: 1.25;
}

.information h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0c0e0e;
}

.information p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #0c0e0e;
  font-size: 18px;
}

.primary-btn {
  background-color: rgb(236, 136, 176);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 18px;
}

.primary-btn:hover {
  background-color: #dd5f5f;
}
